{% extends "base.html" %} {% block body %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1>"{{ output_song }}" is a great choice!</h1>
    <br>
    <br>
    <h2>Here's your custom playlist.</h2>
    <br>
    <br>
    <table>
        {% for index, row in recommended_song.iterrows() %}
        <tr>
            <td><p>{{ row['combined'] }}</p></td>
            <td><a href="{{ row['url'] }}" target="_blank" rel="noopener noreferrer" class="myButton" name='listen'><i class="fa fa-play" style="color:white;"></i></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}