body {
    background-size: cover;
    background-image: url("/static/images/pic01.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #a1dbbb;
    margin:auto;
    padding: 0;
  }
  .autocomplete {
    /*the container must be positioned relative:*/
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    font-size: 16px;
  }
  input[type='text'] {
    max-width: 100%;
    height: 30px;
    border:1px solid #ccc; 
    -webkit-border-radius: 5px;
    color: rgb(0, 0, 0);
    border-radius: 5px; 
  }
  input[type='submit'] {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.90); 
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em; 
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 1px;
    text-align: center;
    color: rgb(251, 252, 253);
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em; 
    font-weight: lighter;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 1px;
    text-align: center;
    color: rgb(252, 253, 253);
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(254, 255, 255)
  }
  p {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    word-wrap: break-word;
    color: rgb(253, 253, 253);
  }
  .login {
    background-color: rgba(248, 239, 239, 0); 
    backdrop-filter: blur(35px);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 50px auto;
    margin-top: 100px;
    max-width: 30%;
    box-shadow: 5px 5px 10px;
  }
  .container {
    margin-top: 50px;
    text-align: center;
  }
  .songsubmit {
    margin: 50px auto;
  }
    [name='input_song']{
      max-width: 80%;
      height: 30px;
      margin-top: 15px;
      border:1px solid #ccc; 
      -webkit-border-radius: 5px;
      color: rgb(0, 0, 0);
      border-radius: 5px; 
    }
    [name='submit']{
      box-shadow:inset 0px 1px 0px 0px #54a3f7;
      background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
      background-color:#007dc1;
      border-radius:3px;
      margin-top: 25px;
      border:1px solid #124d77;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #154682;
    }
    [name='listen']{
      box-shadow:inset 0px 1px 0px 0px #54a3f7;
      background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
      background-color:#007dc1;
      border-radius:3px;
      border:1px solid #124d77;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #154682;
    }
  /*
  * Formatting the header area
  */
  header {
    background: transparent;
    max-width: 100%;
  }
  .logo {
    float: left;
    text-align: left;
    display: block;
  }
  .menu {
    float: right;
    margin-top: 0px;
    position:relative;
    top:5px;
    background: transparent;
    display: block;
  }
  .menu a {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    top:0px;
    margin-right: 25px;
    background: transparent;
    color:#eceef1;
    text-decoration: none;
    display:inline-block;
  }

  table {
    max-width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {
    background-color: rgba(255, 255, 255, 0.75); 
    backdrop-filter: blur(10px);
  }

.headshot {
    width: 195px;
    height: 210px;
}

