[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
python-dotenv = "*"
unidecode = "*"
gunicorn = "*"
jinja2 = "*"
flask = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
